* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --body-bg:#F8F1E7;
    --Text-color: #502314;
    --Pickup-btn-bg :#A71B00; 
    --Delivery-btn-bg: #DFD2C8;
    --address-text :#d62300;
    --Login-btn :#d62300;
    
}