/* flex classes start */

.d-flex{
    display: flex;
}
.j-center{
    justify-content: center;
}
.j-between{
    justify-content: space-between;
}
.j-around{
    justify-content: space-around;
}
.j-evenly{
    justify-content: space-evenly;
}
.A-center{
    align-items: center;
}
.A-between{
    align-items: space-between;
}
.A-around{
    align-items: space-around;
}
.A-evenly{
    align-items: space-evenly;
}
.Wrap{
    flex-wrap: wrap;
}
.flex-column{
    flex-direction: column;
}
.flex-row{
    flex-direction: row;
}
.Pad {
    padding: 20px;
}

/* flex classes end */

.mar {
    margin: 15px;
}
.pad {
    padding: 20px;
}
.M-auto {
    margin: auto;
}


/* Grid Start */
.Grid {
    display: Grid;
}
/* .G-Temp-Col {
    grid-template-columns: ;
} */